.botonera{
    background-color: rgb(250, 249, 248);
    height: 40px;
}

.contenedor{
    background-color: darkorange;
    height: 1800px;
}

.tarjeta{
    animation: tarjeta 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
      
      
    @keyframes tarjeta {
    0% {
            color: #444242
    }
      
    100% {
            color: rgb(248, 3, 3);
    }
    }

.boton{
    background-color: rgb(248, 212, 6);
    color:#000000;
    height: 30px;
    width: 120px;
    font-size:16px;
    text-align: center;
}
    
.pie{
    background-color: darkorange;
    height: 40px;
}