<div class="tarjet col-2 m-4 hardware" id="tarjeta0">
          <img class="img-fluid" src="./img/pedal-de-bombo-sonor-jojo-mayer-pb.jpg">
          <div class="texto">
            <h5>{{title}}</h5>
            <p id="info0">{{description}}</p>
            <p>{{price}}</p>
            <a href=".comprar"><button class="btn btn-dark">Comprar</button></a>
          </div>
        </div>