<div class="justify-content-around col-12 botonera m-3" id="nav">
    <button type="button" id="boton-atras" class="btn btn-dark">Volver</button>
</div>
<div class="contenedor m-3 row justify-content-center">
    <h1 class="texto">Producto no encontrado</h1>
</div>    