<div class="contenedor m-3 row justify-content-center">
<main class="form-signin">
  <form action="register" method="post">
    <h1 class="h3 mb-3 fw-normal texto">Por favor, logueate</h1>
    <div class="form-floating">
      <input type="email" class="form-control texto my-3" name="username" placeholder="nombre@ejemplo.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control texto my-3"  name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control texto my-3" name="name" placeholder="Nombre y apellido">
      <label for="floatingPassword">Nombre y apellido</label>
    </div>

    <button class="w-100 btn-dark" type="submit">Registrarse</button>
    <p class="mt-5 mb-3 text-muted">&copy;2021</p>
  </form>
</main>
</div>